* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-image: linear-gradient(to Bottom, #9ba9eb, #c3caea);
  padding: 50px;
}
.logo {
  height: 55px;
  width: 180px;
}
.password-input-section {
  background-color: #5763a5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
  margin-top: 40px;
  border-radius: 10px;
}
.input-head {
  color: white;
  font-family: 'Roboto';
}
.password-input-container {
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  padding: 40px;
  margin-bottom: 60px;
  align-items: center;
  border-radius: 10px;
}
.pswd-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 60px;
  align-items: center;
  border-radius: 10px;
}
.password-manager-img {
  height: 500px;
  width: 500px;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.input-element {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  width: 250px;
}
.icon-container {
  background-color: white;
  padding: 10px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.icon {
  height: 20px;
  width: 20px;
}
.submit-button {
  background-color: blue;
  border-radius: 6px;
  padding: 10px;
  border-width: 0px;
  color: white;
  margin-top: 30px;
  align-self: flex-end;
  cursor: pointer;
}
.password-manager-section {
  background-color: #5763a5;
  padding: 40px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.your-passwords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 20px;
}
.search-element {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  width: 250px;
}
.head {
  color: white;
  font-family: 'Roboto';
}
.password-count {
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  border-radius: 50px;
}
.show-passwords {
  margin: 20px;
  align-self: flex-end;
}
.checkbox {
  padding: 50px;
}
.label {
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  padding-left: 10px;
}
.line {
  width: 1190px;
  height: 2px;
}
